section {
    position: relative;
    top: 90px;
    padding: 20px;
    background: rgba(255,255,255,.6);    
    margin-bottom: 70px;
}

#items {
    width: 848px;
    margin: 0 auto 50px;
}
.itemList {
    width: 200px;
    height: 230px;
    display: inline-block;
    margin: 30px 10px 0px 0;
    position: relative;
}
.itemList:nth-child(4),
.itemList:last-child {
    margin-right:0;
}

.prodImg {
    width: 200px;
    height: 200px;
}

/* #like img {
    width: 20px;
    position: absolute;
    bottom: 40px;
    right:10px;
    z-index: 9999;
}
#likeM:hover {
    fill: #607d82;
} */

.newTag p {
    padding: 2px 10px;
    background: #607d82;
    color: #fff;
    font-size: 12px;
    z-index: 999;
    float: right;
    position: absolute;
    top: 90px;
    right: 183px;
}


/* 이미지 변경 */
#item01 {
    background: url(img/img03.webp) no-repeat;
    background-size: cover;
}
#item02 {
    background: url(img/img02.jpg) no-repeat;
    background-size: cover;
}
#item03 {
    background: url(img/img05.webp) no-repeat;
    background-size: cover;
}
#item04 {
    background: url(img/img08.webp) no-repeat;
    background-size: cover;
}
#item05 {
    background: url(img/img10.webp) no-repeat center;
    background-size: cover;
}
#item06 {
    background: url(img/img14.webp) no-repeat;
    background-size: cover;
}
#item07 {
    background: url(img/img07.webp) no-repeat;
    background-size: cover;
}
#item08 {
    background: url(img/img12.webp) no-repeat;
    background-size: cover;
}




/* itemText영역 */
.itemList:hover .prodImg {
    transform : scale(1.05);
    background-size: 260px;
    transition: all .3s ;
}

.pName p {
    color:#000;
    margin-top: 15px;
}
.pName span{
    font-size: 14px;
    color:#999;
}
